In [1]:
# Importaci贸n de librer铆as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from datetime import datetime
import warnings

warnings.filterwarnings("ignore")

# Configuraci贸n de visualizaci贸n
plt.style.use("default")
sns.set_palette("husl")
plt.rcParams["figure.figsize"] = (12, 8)
plt.rcParams["font.size"] = 12

print("Librer铆as importadas correctamente")
print(f" Pandas versi贸n: {pd.__version__}")
print(f" NumPy versi贸n: {np.__version__}")

Librer铆as importadas correctamente
 Pandas versi贸n: 2.2.3
 NumPy versi贸n: 2.2.0

# Extracci贸n

In [ ]:
# Carga del dataset desde JSON
with open("TelecomX_Data.json", "r") as f:
    data = json.load(f)

df_raw = pd.DataFrame(data)

print(f" Dataset cargado exitosamente")
print(f" Dimensiones: {df_raw.shape[0]:,} filas  {df_raw.shape[1]} columnas")
print(f" Memoria utilizada: {df_raw.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print("\n primeras 5 filas del dataset:")
df_raw.head()

 Dataset cargado exitosamente
 Dimensiones: 7,267 filas  6 columnas
 Memoria utilizada: 6.70 MB

 primeras 5 filas del dataset:

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Transformaci贸n

# Carga y an谩lisis

#Informe final